
<footer style="display: flex; flex-direction: column; justify-content: center; align-items: center;padding: 2rem; background-color: aliceblue;"></footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>


