<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Realizar Pergunta</title>
    <style>
        /* Adiciona altura total da tela */
        .full-height {
            height: 100vh; /* 100% da altura da viewport */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" >
            <div class="navbar-nav p-3">
              <a class="nav-link active text-light " aria-current="page" href="/">Home</a>
            </div>
          </div>
        </div>
      </nav>